{% extends "layout.html" %}

{% block title %}
  Login
{% endblock %}

{% block body %}
  <h4> {{ message }} </h4>
  <h5> Please login with your choosen Username and Password. </h5>
  <form action="{{ url_for('login') }}" method="post">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" name="username">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
{% endblock %}
